/* css styles */
<style>
    .dt-caution {
        background-color: #FFFF00;
    }

    .dt-preferred {
        background-color: #008000;
    }

    .dt-unsuitable {
        background-color: #FF0000;
    }
</style>
