/* css styles */
.dt-caution {
  color: #FFFF00;
  }

.dt-preferred {
  color: #008000;
  }

.dt-unsuitable {
  color: #FF0000;
  }

strong {
  font-weight: 600;
}

.dt-tbl-head{
  font-size: 12.5px;
  font-weight: 600;
  padding: 3.6px;
}

.dt-tbl{
  font-size: 13px;
}

.dt-tbl-body{
  padding: 3.6px;
}

@media screen and (max-width:767px) {
.dt-tbl{
  height: 375px;
}